.activo {
  color: green;
  font-weight: bold;
}

.oculto {
  display: none;
}

.item {
  padding: 6px;
  border: 1px solid #ccc;
  margin-bottom: 6px;
}

.resaltado {
  color: green;
  font-weight: bold;
  font-size: 20px;
  background-color: lightgrey;
}
