body {
  font-family: Arial;
  max-width: 600px;
  margin: 30px auto;
}
input {
  padding: 8px;
  margin-bottom: 10px;
}
label {
  display: block;
  margin-bottom: 10px;
}
.msg {
  font-weight: bold;
  margin: 10px 0;
}
li {
  margin: 6px 0;
}
